* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: wasm;
  src: url(./assets/WasmFont.ttf);
}
@font-face {
  font-family: naskh;
  src: url(./assets/HSN_Naskh.ttf);
}
nav {
  display: flex;
  align-items: center;
  background: #182724;
  color: #fff;
  font-size: 40px;
  font-family: naskh;
  height: 92px;
}
nav img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}
.container {
  height: 2349px;
  background: #41605b;
  background-image: url("./assets/pngkey 1.png"), url("./assets/Group 5.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, 60px;
  padding-top: 50px;
}

.card {
  width: 944px;
  height: 309px;
  display: flex;
  align-items: center;
  margin-right: 26px;
}
.card img {
  border-radius: 19px;
  width: 200px;
  height: 250px;
  margin-left: 34px;
}
h6 {
  color: #fff;
  text-align: right;
  font-size: 18px;
  font-family: wasm;

}
h2 {
  color: #fff;
  font-size: 40px;
  font-family: wasm;
}
.card p {
  color: #fff;
  text-align: right;
  font-size: 20px;
  margin-top: 57px;
  font-family: wasm;

}
